<ion-card color="warning">
  <ion-card-header>
  <ion-card-title>Ontario Status of Cases</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p>Reported Date: {{ ontarioCasesSummary.ReportedDate }}</p>
    <p>Confirmed Positive: {{ ontarioCasesSummary.ConfirmedPositive }}</p>
    <p>Resolved: {{ ontarioCasesSummary.Resolved }}</p>
    <p>Deaths: {{ ontarioCasesSummary.DeathsNewMethodology }}</p>
    <p>Total Cases: {{ ontarioCasesSummary.TotalCases }}</p>
    <p>Patients Hospitalized due to COVID-19: {{ ontarioCasesSummary.NumPatientsHospitalizedCOVID19 }}</p>
    <p>Patients in ICU due to COVID-19: {{ ontarioCasesSummary.NumPatientsInICUCOVID19 }}</p>
  </ion-card-content>
  </ion-card>
