<ion-card color="primary">
  <ion-card-header>
  <ion-card-title>COVID-19 Key Updates</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p>Total Cases: {{ canadaCasesSummary.totalcases }}</p>
    <p>Total Deaths: {{ canadaCasesSummary.numdeaths }}</p>
    <p>Total cases (Last 7 days): {{ canadaCasesSummary.numtotal_last7 }}</p>
    <p>Total Rate of cases: {{ canadaCasesSummary.ratecases_total }}</p>
    <p>Num of Deaths (Last 7 days): {{ canadaCasesSummary.numdeaths_last7 }}</p>
    <p>Rate of Deaths: {{ canadaCasesSummary.ratedeaths }}</p>
    <p>Rate of Deaths (last 7 days): {{ canadaCasesSummary.ratedeaths_last7 }}</p>
    <p>Num of Deaths (Last 14 days): {{ canadaCasesSummary.numdeaths_last14 }}</p>
    <p>Rate of Deaths (Last 14 days): {{ canadaCasesSummary.ratedeaths_last14 }}</p>
    <p>Avg Deaths (Last 7 days): {{ canadaCasesSummary.avgdeaths_last7 }}</p>
    <p>Total rate of cases: {{ canadaCasesSummary.ratecases_total }}</p>
  </ion-card-content>
  </ion-card>
